input {
  width: 30%;
  margin: 8px 8px;
}

button {
  /*border: 80px;*/
  padding: 6px;
  text-align: left;
  font-size: 14px;
}

.container {
  margin-left: 12.5%; /* (100 - app.component.hr.width) / 2*/
}

h2 {
  text-align: center;
}
