.movie-cat{
  font-weight: bold;
}
.indent {
  margin-left: 40px;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;

  white-space: normal;
  overflow: hidden;
  text-overflow: "...";
  max-width: 35%;
}

li {
  list-style: none;
}
