.movie-cat{
  font-weight: bold;
}
.indent {
  margin-left: 40px;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;

  white-space: normal;
  overflow: hidden;
  text-overflow: "...";
  max-width: 75%;
  margin-left: 12.5%; /* (100 - app.component.hr.width) / 2*/
}

li {
  list-style: none;
}

h2 {
  text-align: center;
}
